@fs-z-sticky-header: 100;
@fs-z-doc-floating: 1000;
@fs-z-doc-menu: 10050;
@fs-z-doc-submenu: 10051;
@fs-z-bitable-panel: 10060;
@fs-z-bitable-modal: 10070;
@fs-z-bitable-menu: 10080;
@fs-z-notification: 10090;

